// color declaration
$white      : #FFFFFF !important;
$blue       : #42A7DD !important;
$black      : #000000 !important;
$gray		: #F7F7F7 !important;

// font declaration
$primary-font         : 'Roboto', sans-serif !important;

// reset
html {
	box-sizing:border-box;
	width:100%;
	overflow: auto;
}
*,:after,:before {
	box-sizing:inherit;
}
textarea:focus, input:focus, .form-control:focus{
    outline: none !important;
    box-shadow: none !important;
}
.centered {
  float: none !important;
  margin: 0 auto !important;
}
::-webkit-input-placeholder {
  color: #84999D;
}
::-moz-placeholder {
  color: #84999D;
}
:-ms-input-placeholder {
  color: #84999D;
}
:-moz-placeholder {
  color: #84999D;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
// main body
body {
	background: $white;
	color: $black;
	font-family: $primary-font;
	font-size:14px;
	-moz-osx-font-smoothing:grayscale !important;
	-webkit-font-smoothing:antialiased !important;
	webkit-tap-highlight-color: #222222;
	line-height:24px;
	width:100%;
	overflow: hidden;
}

// MISC
.bg-gray {
	background-color: $gray;
}
.box-shadow {
	box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
}
.no-padding {
    padding: 0 !important;
}
.small-padding {
    padding-left: 6px !important;
    padding-right: 6px !important;
}
.h-545 {
	height: 545px !important;
}
.mb-10 {
	margin-bottom: 10px !important;
}
.mb-20 {
	margin-bottom: 20px !important;
}
.mb-30 {
	margin-bottom: 30px !important;
}

// global
a {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    color: $white;
}
a:hover,
a:focus {
    color:  $white;
    outline: none;
    text-decoration: none;
}

// main navigation menu
.navbar {
	background-color: $black;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;

	.navbar-brand {
		height: auto;
	}
}

// navbar pills and tab content
.nav, .nav-pills {
	font-family: $primary-font;
	border: 0;
	border-radius: 0;
	text-transform: uppercase;

	li .fa {
		margin-right: 8px;
	}

	li>a {
		color: #999999 !important;
		padding: 20px 60px;
	}

	li>a:focus, li>a:hover {
		color: $blue;
		background-color: transparent;
		border: 0;
		border-radius: 0;
	}

	li.active>a, li.active>a:focus, li.active>a:hover {
		color: $blue;
		font-weight: 900;
		background-color: transparent;
	}
}

.tab-content {
	padding: 0 0 20px;

	.tab-pane {
		.ticket-status {
			color: #BDE5F1;
			margin: 10px 0 40px;
			font-size: 18px;
			text-transform: uppercase;

			.sold-out {
				background: #BDE5F1;
				font-size: 12px;
				padding: 2px 8px;
				color: $blue;
			}
			.summer-saver {
				font-weight: 900;
				color: $blue;

				.fa {
					color: $black;
				}
				.duration {
					font-size: 12px;
					font-weight: normal;
					color: $black;

					span {
						color: red;
					}
				}
			}
		}
		p {
			width: 48%;
			margin: 0 auto;
			text-align: center;
			font-size: 14px;
			line-height: 28px;
		}
		.btn-transparent {
			border: 1px solid $blue;
			background: transparent !important;
			color: $blue;
			border-radius: 0;
			text-transform: uppercase;
			padding: 10px 20px;
		    font-size: 20px;
		    font-weight: bold;
		    margin-bottom: 40px;
		}
		.pricing-table {
			margin: 70px 0 10px;

			.popular {
				min-height: 310px !important;
				position: relative;
				bottom: 20px;

				h1 {
					@extend .title;
					color: red !important;
					text-transform: uppercase;
					font-weight: normal;
					font-size: 20px;
					padding: 0;
					margin: 0;
				}
			}
			.box {
				min-height: 266px;
				box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
				margin-bottom: 30px;

				.details {
					min-height: 219px;
					padding: 15px 5px;
					text-align: center;

					.title {
						color: $blue;
						text-transform: uppercase;
						font-size: 20px;
						font-weight: 900;
					}
					.amount {
						padding: 30px 0;
						font-size: 60px;
						color: $blue;
						font-weight: 900;
					}
					p {
						width: 100%;
						color: #989898;
						display: block;
						font-size: 14px;

						span {
							color: $blue;
							font-size: 18px;
							display: block;
						}
					}
				}
				.detail-list {
					list-style-type: none;
					margin: 0;
					padding: 30px;
					text-align: left !important;
					display: none;

					li {
						display: flex;
						padding: 5px 0;
						span {
							display: inline-block;
							margin-right: 20px;
						}
						div {
							display: inline-block;
							font-size: 12px;
							margin: 0 !important;
							color: #2C292A;
						}
						.fa {
							font-size: 6px;
							position: relative;
							bottom: 3px;
							color: $blue;
						}
					}
				}
				.btn {
					width: 100%;
				    border-radius: 0;
				    border: 0;
				    padding: 10px 0;
				    font-size: 20px;
				    font-weight: bold;
				    text-transform: uppercase;
				}
				.btn-blue {
					background: $blue;
				}
				.btn-red {
					background: red;
				}
			}
		}
	}
}

// caret down for tabbed panel
.caret-down:before {
	content: "";
	position: absolute;
	bottom: -12px;
	right: 50%;
	border-width: 12px 12px 0;
	border-style: solid;
	border-color: #F7F7F7 transparent;
	display: block;
	width: 0;
}

// section tab
section {
	position: relative;
	padding: 0 0 70px;

	.partners {
		text-align: center;

		h2 {
			color: #CBCBCB;
			font-size: 18px;
			font-weight: normal;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		img {
			width: 110px !important;
			height: auto !important;
		}
	}

}

// footer
footer {
	width: 100%;
	// position: absolute;
	bottom: 0;
	background-color: #2C292A;
	padding: 30px 0 10px;
	text-align: center;

	img {
		padding: 2px 0 20px;
	}

	.menu {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: inline;
			padding: 0 7px;

			a {
				color: $white;
				text-transform: uppercase;
				font-size: 12px;
			}
		}
	}
	.social-links {
		list-style-type: none;
		margin: 0;
		margin-top: 15px;
		margin-bottom: 20px;
		padding: 0;

		li {
			display: inline;
			padding: 0 10px;

			.fa {
				font-size: 18px;
			}
		}
	}
	.copyright-menu {
		color: $white;
		font-size: 11px;
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: inline;
			padding: 0 2px;

			a {
				color: $white;
				font-size: 11px;
			}
		}
	}
}